<div id="<%= dom_id match %>" class="w-1/2 bg-gray-100 px-4 py-2 my-4 rounded-lg shadow">
  <%= link_to "#{match.team_1.name} VS #{match.team_2.name}", tournament_match_path(match.tournament_id, match), class: "mt-4 rounded-lg py-2 block bg-gray-100 font-medium"%>
  <div class="rounded-lg py-2 block font-thin">
      <%= match.date.to_formatted_s(:long) %>
  </div>

    <div id="<%= match.id %>" class="flex space-x-4 mt-4">
      <button onclick="follow(<%= match.id %>)">
        <svg width="20" height="20" viewBox="0 0 800.00001 800.00001" xmlns="http://www.w3.org/2000/svg">
          <g id="<%= match.id %>-logo" transform="translate(0 -252.36)" fill="#353535">
            <path d="m359.46 341.17c-134.57 3.4551-183.04 131.52-190.11 200.44-27.31 347.03-80.955 359.79-146.05 363.31-17.863 0-17.609 29.706 0 29.706h753.4c17.609 0 17.863-29.706 0-29.706-65.096-3.5224-118.8-21.45-146.11-368.48-5.7731-65.039-55.477-191.82-190.05-195.27 0-119.38-79.898-116.36-81.082 0z" fill-rule="evenodd"/>
            <path d="m323.14 950.41a79.994 79.994 0 0 0 -3.1361 21.951 79.994 79.994 0 0 0 80 80.002 79.994 79.994 0 0 0 80 -80.002 79.994 79.994 0 0 0 -3.0791 -21.951h-153.78z" color="#000000" color-rendering="auto" image-rendering="auto" shape-rendering="auto" solid-color="#000000" style="isolation:auto;mix-blend-mode:normal"/>
          </g>
        </svg>
      </button>

  <% if action_name != "show" and can? :manage, @match%>
      <%= link_to "Edit", edit_tournament_match_path(match.tournament_id, match), class: "rounded-lg m-2 px-2 bg-blue-800 inline-block font-light text-white shadow" %>
      <%= button_to "Delete", { :controller => :matches, :action => 'destroy', :id => match.id }, :method => :delete, class: "px-2 m-2 rounded text-white bg-red-500 shadow" %>
  <% end %>
    </div>
</div>

<script>
    function follow (id) {
        $.ajax({
            url: "/follow/" + id,
            type: "GET",
            success: function (r) {
                document.getElementById(`${id}-logo`).setAttribute("fill", "#0000FF");
                alert("Match Followed!")
            }
        });
    }
</script>